
#section1{
  background-image: url("../assets/res/bg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
  margin-top: 0;

}

li {
  float: right;
}

li a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

#nomadi{
  float:left;
  padding-top: 7px;
  color: white;
}
h1{
  text-align: center;
  margin-top: 250px;
  font-size: 200px;
}

#front_img{
  position: absolute;
  bottom: 0;
  z-index: 999;
  width: 100%;
  /* width: 100vw; */
  /* height: 100vh; */
  /* background-color: blue; */
}  

#front_img img{
  width: 100%;
  position: relative;
}